<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    mode="over"
    [opened]="false"
    [fixedInViewport]="true"
  >
    <button mat-button routerLink="/" (click)="sidenav.close()">Main</button>
    <button mat-button routerLink="/yoga" (click)="sidenav.close()">
      Yoga
    </button>
    <button *ngIf="isLoggedIn" mat-button (click)="logout(); sidenav.close()">
      Logout
    </button>
    <button
      *ngIf="!isLoggedIn"
      mat-button
      routerLink="/registration"
      (click)="sidenav.close()"
    >
      Registration
    </button>
    <button
      *ngIf="!isLoggedIn"
      mat-button
      routerLink="/login"
      (click)="sidenav.close()"
    >
      Login
    </button>
    <button mat-button routerLink="/subscribe" (click)="sidenav.close()">
      <mat-icon>favorite</mat-icon>
      Subscribe
    </button>
    <mat-slide-toggle
      [checked]="isDarkMode()"
      (change)="toggleTheme($event)"
      aria-label="Toggle dark mode"
    >
      <strong>Dark Mode</strong>
    </mat-slide-toggle>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button
          mat-icon-button
          (click)="sidenav.toggle()"
          class="menu-button"
          *ngIf="isSmallScreen"
        >
          <mat-icon>menu</mat-icon>
        </button>

        <ng-container *ngIf="!isSmallScreen">
          <button mat-button class="small-button" routerLink="/">Main</button>
          <button mat-button class="small-button" routerLink="/yoga">
            Yoga
          </button>
          <button
            *ngIf="!isLoggedIn"
            mat-button
            class="small-button"
            routerLink="/registration"
          >
            Registration
          </button>
          <button
            *ngIf="!isLoggedIn"
            mat-button
            class="small-button"
            routerLink="/login"
          >
            Login
          </button>
          <button
            *ngIf="isLoggedIn"
            (click)="logout()"
            mat-button
            class="small-button"
          >
            Logout
          </button>
          <div class="right-side">
            <button mat-fab extended class="button" routerLink="/subscribe">
              <mat-icon>favorite</mat-icon>
              Subscribe
            </button>
            <mat-slide-toggle
              [checked]="isDarkMode()"
              (change)="toggleTheme($event)"
              aria-label="Toggle dark mode"
            >
              <strong>Dark Mode</strong>
            </mat-slide-toggle>
          </div>
        </ng-container>
      </mat-toolbar-row>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
