<div class="page">
  <div class="description">
    <h1>Life with yoga</h1>
    <h2 appHighlight>
      Yoga is a mind and body practice. Various styles of yoga combine physical
      postures, breathing techniques, and meditation or relaxation. Yoga is an
      ancient practice that may have originated in India. It involves movement,
      meditation, and breathing techniques to promote mental and physical
      well-being.
    </h2>
    <button mat-raised-button routerLink="/yoga" appShadow>
      Browse videos
    </button>
  </div>
</div>
