<form>
  <mat-form-field class="example-chip-list">
    <mat-label>Video Tags</mat-label>
    <mat-chip-grid #chipGrid aria-label="Video tag selection">
      <mat-chip-row *ngFor="let chip of searchChips">
        {{ chip }}
        <button matChipRemove (click)="remove(chip)">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      name="currentChip"
      placeholder="New Tag..."
      #chipInput
      [(ngModel)]="currentChip"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let chip of filteredChipOptions" [value]="chip">
        {{ chip }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<app-video-list
  [videos]="filteredVideos"
  (videoSelected)="selectVideo($event)"
></app-video-list>
