<div class="card-container">
  <mat-card
    *ngFor="let video of videos"
    appearance="outlined"
    class="video-card"
  >
    <mat-card-content class="video-wrapper">
      <a [routerLink]="['/video', video.id]">
        <video
          muted
          preload="auto"
          class="frozen-video"
          (click)="onSelect(video)"
        >
          <source [src]="video.filePath" type="video/mp4" />
        </video>
      </a>

      <div *ngIf="video.access === 'premium' && !isSubscribed" class="overlay">
        <mat-icon class="lock-icon">lock</mat-icon>
      </div>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
      <mat-chip-set>
        <mat-chip *ngFor="let chip of video.chips">{{ chip }}</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
</div>
